.form-info-steps{

    &--title, &__select-your-plane-plane .plane-title{
            color:$Marine-blue;
        }
    &--intro{
        margin: .7rem 0 1.2rem;
       
    }

    &__select-your-plane-plane .plane-title{
        font-size: 1.2rem;
    }

   
}

.input-error{
    border-color: red !important;
    
}
.input-error-message{
    color:red;
    font-size: 14px;
}

.form-info-steps__select-your-plane-plane.active-plane
{
    border-color: $Purplish-blue;
    background-color: $Magnolia;
}

.form-info-steps__pick-add-ons-add-ons.active-pick-add-ons-service{
    background-color: $Magnolia;
    border-color: $Purplish-blue;
    
}




