
.btn--next:focus,
.btn--next:hover {
    background-color:$Purplish-blue;
    // color:inherit;
}
.form-info-steps{
    &__select-your-plane-plane:hover{
        border-color: $Purplish-blue;
        // background-color: $Magnolia;
    }

    &__personal-info-input:focus{
        color:$Marine-blue;
    }
    
    &__pick-add-ons-add-ons:hover{
       border: 1px solid $Purplish-blue;
    }
 }
