.container{
    margin: auto;
}

@mixin containerLS1 {
    .container{
        margin: 2rem auto; 
        display: grid;
        grid-template-columns: 330px 2fr;
        grid-template-areas:  
        "aside mainInfo"
        "aside btns";
        column-gap: 3rem;
        max-width: 920px;
        min-height: 700px;
        padding: 1rem;
        background-color: #fff;
        border-radius: 10px;
        justify-content: start;
        align-items: start;
    }

    .progress-btns{
        grid-area: btns;
        align-self: end;
        // padding: 0;
    }
    .progress{
        grid-area: aside;
        align-self: stretch;
    }
    .form-info-steps{
        align-self: start;
        margin: 0;
        // padding-left: 0;
        grid-area: mainInfo;}

}