.progress{
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    padding: 2rem 0 5.3rem;

    &__step-info{
        display: none;
    }
    &__step-number{
        display: block;
        border: 1px solid $Alabaster;
        color: $Alabaster;
        border-radius:35px;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 33px;
    }
    
}

@mixin sidebarLS {
    .progress{
        background-image: url("../assets/images/bg-sidebar-desktop.svg");
        flex-direction: column; 
        padding:2rem;
        justify-content: flex-start;

       &__step{
            display: flex;
            align-items: center;
            column-gap: 2rem;
            margin-bottom: 1rem;
        }

        &__step-info{
            color:$White;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__step-info span{
            color:$Light-gray;
            display: block;
            font-weight: 100;
            font-size: 15px;
            letter-spacing: 1px;
        }

        &__step-info{
            display: block;
        }
    }
}
